{% load static %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ma petite Reine</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}" />
	</head>
	<body>
      {% include "includes/menu.html" %}

      <h3>L'idée en 3 minutes</h3>
      <div>Création d’un jeu de cyclisme très centré sur la communauté. L’idée étant de jouer 3 minutes par jours dans une partie fermée entre amis. Les joueurs créent une ligue, entre 2 et 10 joueurs. Ils se répartissent ensuite les coureurs selon un système d’enchère similaire à ce que l’on fait dans le jeu Mon Petit Gazon. Ces ligues peuvent être crées à l’occasion d’un grand tour ou sur une période de 3 mois.</div>
      <div>Un système d’enchères similaire à ce que l’on trouve sur mon petit gazon, permet aux joueurs de se répartir les différents coureurs. 3 tours d’enchère à l’issue desquels chaque joueur possède sa propre équipe. Chaque équipe possède un nombre différent de coureurs de chaque type (Sprinteur, Puncheur, Grimpeur, Coureur de classement général, Coureurs de classique, Baroudeur, Equipier modèle)
      </div>
      <div>
        Un système d’enchères similaire à ce que l’on trouve sur mon petit gazon, permet aux joueurs de se répartir les différents coureurs. 3 tours d’enchère à l’issue desquels chaque joueur possède sa propre équipe. Chaque équipe possède un nombre différent de coureurs de chaque type (Sprinteur, Puncheur, Grimpeur, Coureur de classement général, Coureurs de classique, Baroudeur, Equipier modèle)
        A l’issue de chaque course (respectivement de chaque étape) et des classements généraux les coureurs se voient attribuer des points en fonction de leurs résultats. Ceux-ci permettent d’établir un classement entre les joueurs de la ligue.

  </body>
      </div>
      <h3>Les règles pour les puristes</h3>
      <h4>Système d’enchères</h4>
      <div>
        Le système de proposition de contrats se déroule en trois tours. Chaque joueur est doté de 35 millions (le budget de la Sky) et
        doit engager exactement 18 coureurs dans le cadre d’une saison 12 coureurs dans le cadre d’un grand tour.
      </div>
      <h5>Tour 1 et 2 :</h5>
      <div>
        Chaque joueur fait ses enchères et les valide. A l’issue de ce tour, le joueur ayant misé le plus sur chacun des autres
        joueurs se voit attribuer le joueur, et perd la somme qu’il a misé. Les joueurs n’ayant pas remporté le coureur récupèrent leurs mises.
      </div>
      <h5>Tour 3 :</h5>
      <div>Le joueur proposant le premier un contrat au cycliste l’engage</div>
      <div>Le mercato n’est finalement validé que lorsque chacun des joueurs valide le mercato</div>

      <h4>Système de bonus</h4>
      <div>
        A chaque tour, les joueurs se voient attribuer aléatoirement la possibilité d’utiliser
        un bonus sur l’un des adversaires de la ligue aléatoirement. Par exemple le joueur 1 peut utiliser un
        bonus contre le joueur 3, le joueur 5 contre le Joueur 2 ect …
      </div>
      <div>
      -	Ennui mécanique : L’attaquant choisit un coureur de l’équipe adverse qui va perdre entre 1 et 3 places.
      </div>
      <div>
      -	La Dumoulin : la moitié des coureurs de l’équipe adverse perdent 3 places suite à un besoin pressant au mauvais moment de la course.
      </div>
      <div>
      -	Cavendish : Roulé boulé, votre sprinteur est relégué en queue de peloton suite à une chute
      </div>
      <div>
      -	Sur mes terres : Le coureur local se sent voler devant ses fans et se voie attribuer 50% de chance de gagner une place
      </div>
      <div>
      -	ATTAQUE DE PIERRE ROLLAND : votre coureur a 20% de chance de gagner l’étape et 80 de perdre 50 places.
      </div>

      <h4>Système de points</h4>
      <h5>Dans le cas d’une saison</h5>
      <div>
        Utilisation du système de pont UCI, on ne se concentre que sur les course world tours. 15 coureurs sont choisis au début de l’épreuve et doivent être
      </div>
      <h5>Dans le cadre d'un grand Tour</h5>
      <div>
      Chaque équipe marque des points à l’issue de chaque étape, ainsi qu’à l’issu de la course. La répartition des points se fait selon les critères ci-dessous:
      </div>
      <div>
      -	20 premiers coureurs, échelle dégressive (De 150 à 1 …)
      </div>
      <div>
      -	Tout maillot distinctif porté (chaque jour 25)
      </div>
      <div>
      -	Classement général (points à la fin de la course pour les 60 premiers coureurs conformément au système de points de l'UCI, de 10 à 1000)
      </div>
      <div>
      -	Podium final pour tous les maillots distinctifs (hors classement général)
      </div>
      <div>
      -	Seul le classement de la montagne se trouve renforcé par rapport au système réel.
      </div>




</html>
